.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 4px;
    background: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    animation: spin 1s linear infinite;
}

.loader::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #111;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}